{
  "mcpServers": {
    "arcane": {
      "command": "{{ ai_arcane_bin }}",
      "args": [
        "mcp"
      ],
      "disable": false
    },
    "1password": {
      "command": "{{ ai_onepassword_mcp_bin }}",
      "args": [],
      "disable": false
    },
    "mcp-sunrise": {
      "url": "{{ mcp_gateway_url }}",
      "headers": {
        "Authorization": "Bearer {{ mcp_gateway_sunrise_token }}"
      },
      "disable": false
    }
  }
}
